numpy
scipy
matplotlib
pandas
scikit-learn
tqdm

open3d
trimesh
pyntcloud

transformers
datasets
accelerate
peft
huggingface_hub
safetensors

torch-geometric

jupyterlab
ipykernel
tensorboard

laspy
lazrs